{% load static %}

<div class="post-container">

    <div class="post-thumbnail">
        <img src="{% static "img/pp-ia.jpg" %}" alt="fb-thumbnail">
    </div>
    
    <div class="post-info">
        <div class="post-content">
            <p><span class="content-title">{{post.title|title}} > </span>{{post.content}}</p>
        </div>
    
        <div class="post-dates">
            <p>Published on {{post.created_at|date:"m-d-Y"}}</p>
        </div>

    </div>
    
</div>

{% comment %} AGREGAR ESTILOS {% endcomment %}