{% extends "layout.html" %}
{% load static %}

{% block page_styles %}
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/include-social-media.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/include-spotify-classes.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/include-commit-card.css' %}" rel="stylesheet" type="text/css">
{% comment %} <link href="{% static 'css/include-project-card.css' %}" rel="stylesheet" type="text/css"> {% endcomment %}

{% endblock page_styles %}

{% block page_content %}

<div id="content-container">
    
    <!-- PROFILE DESCRIPTION -->
    <div id="profile-picture">
        <img src="{% static 'img/pp-ia.jpg' %}" alt="Profile picture">
    </div>
    <div id="profile-description">
        <h2>Sofware Engineer</h2>
        <p>I'm a 25 Y.O Computer Engineer from L.S, Chile with strong programming skills in Python & Java who's passionate for data management.</p>
        <p>My hands-on experience includes developing web applications using Python and Django, creating and consuming APIs for efficient data transmission.</p>
        <p><b>Checkout some of my projects!</b></p>
    </div>

    
    <!-- SPOTIFY ACTIVITY -->
    <div id="spotify-container">

        <!-- CURRENTLY PLAYING SONG -->
        <div id="current-playing-container">
            {% if current_song.currently_playing == True %}
                <h3>Currently playing</h3>
                {% include "includes/current-song.html" with track=current_song.track.item track_card_class="current-playing" %}
            {% endif %}
            {% comment %} <button onclick="location.href='{{login_url}}'">LOGIN</button> {% endcomment %}
        </div>
        
        <!-- RECENTLY PLAYED TRACKS -->
        <div id="recently-played-container">
            {% if recently_played.recently_exists == True %}
            <h3>Recently played...</h3>
                {% for track in recently_played.tracks %}
                    {% include "includes/current-song.html" with track=track.track track_card_class="recently-played" %}                
                {% endfor %}
            {% endif %}
        </div>
    </div>
    
    
    <!-- GITHUB ACTIVITY -->
    <div id="commits-container">
        <div id="commits-loader" class="loader">Loading</div>
        {% comment %} COMMITS {% endcomment %}
    </div>


    <!-- SOCIAL MEDIA -->
    {% include "includes/social-media.html" %}

</div>





{% endblock page_content %}


{% block page_scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src={% static "js/fetch-commits.js" %}></script>
<script type="text/javascript" src={% static "js/fetch-current-song.js" %}></script>
<script type="text/javascript" src={% static "js/fetch-recently-played.js" %}></script>
  
{% endblock page_scripts %}