#root
media
venv
pyhub
staticfiles
#website
website/.env
website/__pycache__
website/migrations
#portfolio
portfolio/.env
portfolio/__pycache__
portfolio/migrations
portfolio/static/img
portfolio/static/docs
portfolio/static/fonts
#shitblogger
shitblogger/__pycache__
shitblogger/migrations
shitblogger/static/img
#pytify
pytify/__pycache__
pytify/migrations
pytify/.env
#economics
economics/__pycache__
economics/migrations
#db
db.sqlite3

