
#page-content{

    .content-container{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        /* NAVIGATION BAR */
        .side-bar{
            border: 2px solid var(--blog-base-4);
            min-width: 20%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            /* row-gap: 0.5rem; */

            ul{
                width: 100%;
                /* border: 1px solid black; */
                margin: 0 auto;
                list-style:none;
                padding-inline-start: 0rem;
                font-family: "klavika-L";
                display: flex;
                justify-content: space-around;

                li{
                    padding: 0.5rem;
                }
                li:hover{
                    background-color: var(--blog-base-5);
                    color: var(--blog-base-1);
                    font-family: "klavika-B";
                    text-decoration: underline;
                    transition: all 150ms;
                }
            }
        }

        /* CONTENT SECTION */
        .posts-section{
            /* border: 2px solid var(--blog-base-4); */
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            align-items: center;
            justify-content: center;
            /* width: 80%; */
            
            .forms-section{
                width: 100%;
                row-gap: 1rem;
                display: flex;
                flex-direction: column;

                /* CATEGORY FORM */
                .cat-form{
                    form{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        .form-input{
                            width: 70%;
                            
                        }
                    }
                }
                
                /* POST FORM */
                .post-form{

                    form{
                        .row-1{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            .form-input{
                                width: 95%;
                                margin: 0.2rem auto;
                                text-align: left;
                            }
                            textarea{
                                height: 6rem;
                                resize: none;
                            }
                        }

                        .row-2{
                            width: 95%;
                            margin: 0.5rem auto;
                            display: flex;
                            flex-direction: column;
                            row-gap: 1rem;

                            .fb-button{
                                margin: 0 auto;
                            }
                

                            .categories{
                                display: flex;
                                align-items: flex-start;
                                column-gap: 0.5rem;
                            }

                        }

                    }
                }
            }

            /* POSTS LIST */
            .posts-list{
                display: flex;
                flex-direction: column;
                row-gap: 0.5rem;
                
            }
            
            /* SUGGESTIONS FORM */
            .sugest-form{

                form{

                }
            }
        }
    }
}


/* RESPONSIVENESS */

@media (min-width:768px) {
    .content-container{
        display: flex;
        flex-direction: row !important;
        column-gap: 1rem;

        .side-bar{
            ul{
                display: list-item !important;
            }
        }

        .posts-section{
            width: 100%;

            .forms-section{
                .post-form{
                    form{
                        .row-2{
                            width: 95%;
                            margin: 0.5rem auto;
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
    }
}


/* CLASSES */
.section-title{
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 0rem;
    color: var(--blog-base-1);
    font-family: "klavika-M";
    text-align: center;
    background-color: var(--blog-base-4);
}

.section{
    width: 100%;
    border: 2px solid var(--blog-base-4);
    font-family: "klavika-B";
}

.fb-button{
    width: 20%;
    padding: 0.5rem 1rem;
    background-color: var(--blog-base-6);
    font-family: "klavika-L";
    color: var(--blog-base-1);
    border: 1px solid var(--blog-base-6);
    max-height: 2rem;
}
.fb-button:hover{
    background-color: var(--blog-base-5);
    color: var(--blog-base-1);
    font-family: "klavika-B";
    text-decoration: underline;
    transition: all 150ms;
    border: 1px solid var(--blog-base-8)
}

.form-input{
    font-family: "klavika-L";
    border-radius: 0px;
}

.paginator{
    display: flex;
    column-gap: 1rem;
    color: var(--blog-base-3);
    font-family: "klavika-L";
    
    span{
        a{
            text-decoration: none;
            color: var(--blog-base-3);
        }
        a:hover{
            color: var(--blog-base-4);
        }
    }
}