.post-container{

    border-bottom: 1px solid var(--blog-base-5) ;
    display: flex;
    justify-content: start;
    column-gap: 2%;
    background-color: var(--blog-detail-5);
    width: 95%;
    margin: 0.5rem auto;


    .post-thumbnail{
        width: 20%;
        img{
            width: 90%;
            padding: 5%;

        }
    }

    .post-info{
        display: flex;
        flex-direction: column;
        width: 75%;
        padding: 1%;
        justify-content: space-between;

        
        .post-content{
            p{
                width: 100%;
                text-align: start;
                margin: 0 auto;
                font-family: "klavika-L";
            }
        }
        
        .post-dates{
            p{
                margin: 0 auto;
                width: 100%;
                text-align: right;
                font-style: italic;
                color: var(--blog-base-3);
                font-family: "klavika-L";
            }
        }
    }
}

.content-title{
    font-family: "klavika-B";
    color: var(--blog-base-4);
}

/* RESPONSIVENESS */
@media (min-width:768px) {
    .post-container{
        .post-thumbnail{
            width: 10% !important;
        }
    }
}

