/* STYLES */
#content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #profile-picture{
        /* border: 1px solid white; */
        padding: 1rem;

        img{
            max-width: 10rem;
            border-radius: 50%;
            animation: glow 10s ease-in-out infinite normal;
            border: 2px solid var(--base-detail-2);
        }
    }

    #profile-description{
        /* border: 1px solid white; */
        padding: 0rem 1rem;
        text-align: center;


        h2{
            font-family: 'Nexa-H';
            margin: 0.5rem;
        }
    }

    #background-section{
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0px;
        width: 100%;
        
        #sections-toggle{
            display: flex;
            flex-direction: row;
            justify-content: center;            
            align-items: center;
            
            #show-stack,
            #show-projects{
                font-family: 'Nexa-H';
                background-color: var(--base-background-1);
                padding: 0.5rem 1rem;
                color: var(--base-detail-1);
                border: 1px solid var(--base-detail-2-2);
            }
        }

        #sections-content{            
            /* border: 1px solid white; */
            width: 95%;
            background-color: var(--base-font-1);
            margin: 0.5rem 0rem;
            border-radius: 10px;
            max-width: 90%;
            
            #projects{
                display: grid;
                grid-template-columns: 95%;
                grid-template-rows: max-content;
                justify-content: space-around;
                align-items: stretch;
                column-gap: 1rem;
                row-gap: 1rem;
                padding: 0.5rem 0rem;
            }
            #stack{
                display: grid;
                grid-template-columns: 40% 40%;
                grid-template-rows: max-content;
                justify-content: center;
                align-items: stretch;
                column-gap: 2rem;
                row-gap: 2rem;
                padding: 0.5rem 0rem;

                
                #stack-item{
                    /* border: 1px solid white; */
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 5rem;

                    img{
                        max-width: 5rem;
                    }
                }
            }
        }
    }
}

/* EFFECTS */
.active-button{
    font-family: 'Nexa-EL';
    background-color: var(--base-font-1) !important;
    color: var(--base-background-1) !important;
    border: 1px solid var(--base-background-2);
    transform: scale(105%);
    transition: all 0.2s;
}

/* ANIMATIONS */
@keyframes glow {
    0% {
        box-shadow: -5px 5px 20px -5px #ffffff;
    }
    50%{
        box-shadow: 5px 5px 20px -5px #ffffff;
    }
    75%{
        box-shadow: 5px -5px 20px -5px #ffffff;
    }
    100% {
        box-shadow:-5px 5px 20px -5px #ffffff;
    }
}

/* RESPONSIVENESS */
@media (min-width:350px) {
    #content-container{
        #profile-picture{
            img{
                max-width: 10rem !important;
                border-radius: 50%;
            }
        }
        #profile-description{
            h2{font-size: 1rem !important;}
            p{font-size: medium !important;}
        }
        #background-section{
            #sections-content{
                #stack{
                    grid-template-columns: 20% 20% 20% !important;
                }
            }
        }
    }
    
}


@media (min-width:768px) {
    #content-container{
        #profile-picture{
            img{
                max-width: 15rem !important;
                border-radius: 50%;
            }
        }
        #profile-description{
            h2{font-size: 1.5rem !important;}
            p{font-size: larger !important;}
        }
        #background-section{
            #sections-content{
                #projects{
                    grid-template-columns: 45% 45% !important;
                }
                #stack{
                    grid-template-columns: 25% 25% 25% !important;
                    justify-content: center !important;
                }
            }
        }
    }
    
}

@media (min-width:1080px) {
    #content-container{
        #profile-picture{
            img{
                max-width: 20rem !important;
                border-radius: 50%;
            }
        }
        #profile-description{
            h2{font-size: 2.5rem !important;}
            p{font-size: x-large !important;}
        }
        #background-section{
            #sections-content{
                #stack{
                    grid-template-columns: 20% 20% 20% !important;
                }
            }
        }
    }
    
}