/* STYLES */
#content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #profile-picture{
        border: 1px solid white;
        padding: 1rem;

        img{
            max-width: 10rem;
            border-radius: 50%;
        }
    }

    #profile-description{
        border: 1px solid white;
        padding: 0rem 1rem;
        text-align: center;


        h2{
            font-family: 'Nexa-H';
            margin: 0.5rem;
        }
    }

    #background-section{
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0px;
        width: 100%;
        
        #sections-toggle{
            display: flex;
            flex-direction: row;
            justify-content: center;            
            align-items: center;
            width: 100%;
            
            #projects-toggle,
            #stack-toggle{
                border-top: 1px solid white;
                border-left: 1px solid white;
                border-right: 1px solid white;
                border-radius: 5px;
                padding: 0.5rem;
                min-width: 20%;

                h4{
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
        #sections-content{
            border: 1px solid white;
            width: 95%;
            padding: 0.5rem;
            
            #projects{}
            #stack{
                border: 1px solid white;
                display: grid;
                grid-template-columns: 20% 20% 20%;
                grid-template-rows: max-content;
                justify-content: space-around;
                align-items: stretch;
                column-gap: 1rem;
                row-gap: 3rem;
                
                #stack-item{
                    border: 1px solid white;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 5rem;

                    img{
                        max-width: 5rem;
                    }
                }
            }
        }
    }
}

/* RESPONSIVENESS */
@media (min-width:350px) {
    #content-container{
        #profile-picture{
            img{
                max-width: 10rem !important;
                border-radius: 50%;
            }
        }
        #profile-description{
            h2{
                font-size: 1rem !important;
            }
            p{
                font-size: medium !important;
            }
        }
    }
    
}


@media (min-width:768px) {
    #content-container{
        #profile-picture{
            img{
                max-width: 15rem !important;
                border-radius: 50%;
            }
        }
        #profile-description{
            h2{
                font-size: 1.5rem !important;
            }
            p{
                font-size: larger !important;
            }
        }
    }
    
}

@media (min-width:1080px) {
    #content-container{
        #profile-picture{
            img{
                max-width: 20rem !important;
                border-radius: 50%;
            }
        }
        #profile-description{
            h2{
                font-size: 2.5rem !important;
            }
            p{
                font-size: x-large !important;
            }
        }
    }
    
}