/* STYLES */
#content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #profile-picture{
        /* border: 1px solid white; */
        padding: 1rem;

        img{
            max-width: 10rem;
            border-radius: 50%;
            animation: glow 10s ease-in-out infinite normal;
            border: 2px solid var(--base-detail-2);
        }
    }

    #profile-description{
        /* border: 1px solid white; */
        padding: 0rem 1rem;
        text-align: center;

        h2{
            font-family: 'Nexa-H';
            margin: 0.5rem;
        }
        .navigation-buttons{
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            align-items: center;
            button{
                width: 50%;
            }
        }
    }

    #spotify-container,
    #commits-container{
        width: 95%;
        margin: 0.5rem auto;
        padding: 0.5rem;
    }

}

/* CLASSES */


/* CSS */
.section-button {
    font-family: "Nexa-H";
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.section-button:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    animation: glowing-section-button 20s linear infinite;
    background-size: 400%;
    filter: blur(5px);
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 10px;
}

@keyframes glowing-section-button {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.section-button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.section-button:hover{
    background: var(--base-detail-1) !important;
    color: var(--base-background-2) !important;
    z-index: auto !important;
    transition: all 250ms;
}


/* EFFECTS */
.active-button{
    font-family: 'Nexa-EL';
    background-color: var(--base-font-1) !important;
    color: var(--base-background-1) !important;
    border: 1px solid var(--base-background-2);
    transform: scale(105%);
    transition: all 0.2s;
}

/* ANIMATIONS */
@keyframes glow {
    0% {
        box-shadow: -5px 5px 20px -5px #ffffff;
    }
    50%{
        box-shadow: 5px 5px 20px -5px #ffffff;
    }
    75%{
        box-shadow: 5px -5px 20px -5px #ffffff;
    }
    100% {
        box-shadow:-5px 5px 20px -5px #ffffff;
    }
}

/* RESPONSIVENESS */
@media (min-width:350px) {
    #content-container{
        #profile-picture{
            img{
                max-width: 10rem !important;
                border-radius: 50%;
            }
        }
        #profile-description{
            h2{font-size: 2rem !important;}
            p{font-size: medium !important;}
        }
        #background-section{
            #sections-content{
                #stack{
                    grid-template-columns: 20% 20% 20% !important;
                }
            }
        }
    }
    
}


@media (min-width:768px) {
    #content-container{
        #profile-picture{
            img{
                max-width: 15rem !important;
                border-radius: 50%;
            }
        }
        #profile-description{
            h2{font-size: 2.5rem !important;}
            p{font-size: larger !important;}
            .navigation-buttons{
                flex-direction: row;
                column-gap: 2rem;
                justify-content: center;
                button{
                    width: auto;
                }
            }
        }
        #background-section{
            #sections-content{
                #projects{
                    grid-template-columns: 45% 45% !important;
                }
                #stack{
                    grid-template-columns: 25% 25% 25% !important;
                    justify-content: center !important;
                }
            }
        }
    }
    
}

@media (min-width:1080px) {
    #content-container{
        #profile-picture{
            img{
                max-width: 20rem !important;
                border-radius: 50%;
            }
        }
        #profile-description{
            h2{font-size: 3rem !important;}
            p{font-size: x-large !important;}
        }
        #background-section{
            #sections-content{
                #stack{
                    grid-template-columns: 20% 20% 20% !important;
                }
            }
        }
    }
    
}