<div id="card-container" onclick="location.href='{{project.github_url}}'">
    <div id="project-card">
        <div id="project-thumbnail">
            <img src="{{project.thumbnail_url}}" alt="{{project.name}} Project Thumbnail">
        </div>
        <div id="project-content">
            <div class="project-name">
                <h4>{{project.name}}</h4>
            </div>
            <div class="project-description">
                <p>{{project.description}}</p>
            </div>
        </div>
    </div>
</div>


<!-- MODELO DE PROYECTO NECESITA 
 
> name
> description
> thumbnail_url
> github_url

-->
