<div id="social-media">
    <ul id="social-media-list">
        <li class="item-list">
            <a href="https://www.linkedin.com/in/sebasti%C3%A1n-alday-n%C3%BA%C3%B1ez-9a669a229/"><i class="fa-brands fa-linkedin"></i></a>
        </li>
        <li class="item-list">
            <a href="mailto:sebaalday28@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </li>
        <li class="item-list">
            <a href="https://github.com/zebalday"><i class="fa-brands fa-square-github"></i></a>
        </li>
        <li class="item-list">
            <a href="https://discordapp.com/users/526125802744709161"><i class="fa-brands fa-discord"></i></a>
        </li>
    </ul>
</div>